@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" href="~/Content/StyleSheet1.css" />

<div class="jumbotron">
    <h1 class="homeHeader">Tech Support System</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <p>Navigate thorugh the top links to perform the desired action</p>
    </div>
</div>

<hr />

<div class="footer">
    <p>
        Contact Us: +1 (999) 999-9999 <br /> <a href="mailto:techsuport@gmal.com">techsuport@gmal.com</a>
    </p>
</div>