@model List<DBProgramming3.Models.Registration>

@{
    ViewBag.Title = "RegistrationList";
}

<link rel="stylesheet" href="~/Content/StyleSheet1.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;800&display=swap" rel="stylesheet">

<div class="row">
    <div class="col-md-7">
        <h2 class="mainHeader">Registration List</h2>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-3">
        <div class="searchContainer">
            <label class="searchLabel">Search By:</label>
            <input type="text" name="searchText" list="searchList" />
            <datalist id="searchList" placeholder="Search By:">
                <option value="Code"></option>
                <option value="Name"></option>
                <option value="First Zip Code"></option>
                <option value="Last Zip Code"></option>
            </datalist>
            <input type="text" id="searchTerm" class="searchTerm" placeholder="Search..." />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table id="stateList" class="styled-table">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Customer Name</th>
                    <th>Registration Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var registration in Model)
                {
                    <tr>
                        <td>@registration.Product.Name</td>
                        <td>@registration.Customer.Name</td>
                        <td>@registration.RegistrationDate</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>